In [1]:
#load all libraries
import numpy as np
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
import spacy
import string

In [2]:
reviews = pd.read_csv('7282_1.csv')

In [3]:
reviews.head(2)

,address,categories,city,country,latitude,longitude,name,postalCode,province,reviews.date,reviews.dateAdded,reviews.doRecommend,reviews.id,reviews.rating,reviews.text,reviews.title,reviews.userCity,reviews.username,reviews.userProvince
0,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2013-09-22T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,4.0,Pleasant 10 min walk along the sea front to th...,Good location away from the crouds,NaN,Russ (kent),NaN
1,Riviera San Nicol 11/a,Hotels,Mableton,US,45.421611,12.376187,Hotel Russo Palace,30126,GA,2015-04-03T00:00:00Z,2016-10-24T00:00:25Z,NaN,NaN,5.0,Really lovely hotel. Stayed on the very top fl...,Great hotel with Jacuzzi bath!,NaN,A Traveler,NaN

In [4]:
comments = reviews['reviews.text']

In [5]:
#function to remove non-ascii characters
def _removeNonAscii(s): return "".join(i for i in s if ord(i)<128)

In [6]:
comments = comments.astype('str')

In [7]:
#remove non-ascii characters
comments = comments.map(lambda x: _removeNonAscii(x))

In [8]:
#get stop words of all languages
STOPWORDS_DICT = {lang: set(nltk.corpus.stopwords.words(lang)) for lang in nltk.corpus.stopwords.fileids()}

In [9]:
#function to detect language based on # of stop words for particular language
def get_language(text):
    words = set(nltk.wordpunct_tokenize(text.lower()))
    lang = max(((lang, len(words & stopwords)) for lang, stopwords in STOPWORDS_DICT.items()), key = lambda x: x[1])[0]
    if lang == 'english':
        return True
    else:
        return False

In [10]:
#filter for only english comments
eng_comments=comments[comments.apply(get_language)]

In [11]:
eng_comments.head()

0    Pleasant 10 min walk along the sea front to th...
1    Really lovely hotel. Stayed on the very top fl...
3    We stayed here for four nights in October. The...
4    We stayed here for four nights in October. The...
5    We loved staying on the island of Lido! You ne...
Name: reviews.text, dtype: object

In [12]:
#drop duplicates
eng_comments.drop_duplicates(inplace=True)

In [13]:
#load spacy
nlp = spacy.load('en_core_web_sm')

In [14]:
'''
#function to clean and lemmatize comments
def clean_comments(text):
    #remove punctuations
    regex = re.compile('[' + re.escape(string.punctuation) + '\\r\\t\\n]')
    nopunct = regex.sub(" ", str(text))
    #use spacy to lemmatize comments
    doc = nlp(nopunct, disable=['parser','ner'])
    lemma = [token.lemma_ for token in doc]
    return lemma
'''

'\n#function to clean and lemmatize comments\ndef clean_comments(text):\n    #remove punctuations\n    regex = re.compile(\'[\' + re.escape(string.punctuation) + \'\\r\\t\\n]\')\n    nopunct = regex.sub(" ", str(text))\n    #use spacy to lemmatize comments\n    doc = nlp(nopunct, disable=[\'parser\',\'ner\'])\n    lemma = [token.lemma_ for token in doc]\n    return lemma\n'

In [15]:
regex = re.compile('[' + re.escape(string.punctuation) + '\\r\\t\\n]')

In [16]:
nopunct = regex.sub(" ", str(nlp))

In [17]:
doc = nlp(nopunct, disable=['parser','ner'])

In [18]:
lemma = [token.lemma_ for token in doc]

In [19]:
lemmatized = eng_comments.map(lemma)

TypeError: 'list' object is not callable